<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.FeiyongMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Feiyong">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="zulinid" property="zulinid" jdbcType="INTEGER"/>
        <result column="fangyuanleixing" property="fangyuanleixing" jdbcType="VARCHAR"/>
        <result column="feiyongbianhao" property="feiyongbianhao" jdbcType="VARCHAR"/>
        <result column="kehuxingming" property="kehuxingming" jdbcType="VARCHAR"/>
        <result column="kehu" property="kehu" jdbcType="VARCHAR"/>
        <result column="iszf" property="iszf" jdbcType="VARCHAR"/>
        <result column="feiyongleixing" property="feiyongleixing" jdbcType="VARCHAR"/>
        <result column="feiyongjine" property="feiyongjine" jdbcType="VARCHAR"/>
        <result column="qishiriqi" property="qishiriqi" jdbcType="VARCHAR"/>
        <result column="jiezhiriqi" property="jiezhiriqi" jdbcType="VARCHAR"/>
        <result column="beizhu" property="beizhu" jdbcType="VARCHAR"/>
        <result column="tianjiashijian" property="tianjiashijian" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">feiyong</sql>
    <sql id="Base_Column_List">id,zulinid,fangyuanleixing,feiyongbianhao,kehuxingming,kehu,iszf,feiyongleixing,feiyongjine,qishiriqi,jiezhiriqi,beizhu,tianjiashijian</sql>
    <select id="count" resultType="Integer" parameterType="com.spring.util.SelectExample">
        SELECT COUNT(*) FROM <include refid="table"/> <where>  ${where}  </where>
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM <include refid="table"/> <where>  ${where}  </where> <if test="order != null">  ORDER BY ${order} </if>
    </select>
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM <include refid="table"/> <where>  ${where}  </where> <if test="order != null">  ORDER BY ${order} </if>
    </select>
    <select id="find" resultMap="BaseResultMap" parameterType="com.spring.entity.Feiyong">
        SELECT * FROM <include refid="table"/> WHERE  id = #{id}
    </select>
    <delete id="delete" parameterType="com.spring.entity.Feiyong">
        DELETE FROM <include refid="table"/> WHERE  id = #{id}
    </delete>
    <update id="update" parameterType="com.spring.entity.Feiyong">
        UPDATE <include refid="table"/> <set>
             <if test="zulinid != null">
                zulinid = #{zulinid},
            </if>
             <if test="fangyuanleixing != null">
                fangyuanleixing = #{fangyuanleixing},
            </if>
             <if test="feiyongbianhao != null">
                feiyongbianhao = #{feiyongbianhao},
            </if>
             <if test="kehuxingming != null">
                kehuxingming = #{kehuxingming},
            </if>
             <if test="kehu != null">
                kehu = #{kehu},
            </if>
             <if test="iszf != null">
                iszf = #{iszf},
            </if>
             <if test="feiyongleixing != null">
                feiyongleixing = #{feiyongleixing},
            </if>
             <if test="feiyongjine != null">
                feiyongjine = #{feiyongjine},
            </if>
             <if test="qishiriqi != null">
                qishiriqi = #{qishiriqi},
            </if>
             <if test="jiezhiriqi != null">
                jiezhiriqi = #{jiezhiriqi},
            </if>
             <if test="beizhu != null">
                beizhu = #{beizhu},
            </if>
             <if test="tianjiashijian != null">
                tianjiashijian = #{tianjiashijian},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.spring.entity.Feiyong">
        INSERT INTO
        <include refid="table"/>
        (zulinid,fangyuanleixing,feiyongbianhao,kehuxingming,kehu,iszf,feiyongleixing,feiyongjine,qishiriqi,jiezhiriqi,beizhu,tianjiashijian)
        VALUES
        (#{zulinid},#{fangyuanleixing},#{feiyongbianhao},#{kehuxingming},#{kehu},#{iszf},#{feiyongleixing},#{feiyongjine},#{qishiriqi},#{jiezhiriqi},#{beizhu},#{tianjiashijian})
    </insert>
</mapper>
